<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/ola/workspace/AppiumTests/MobileTests">
        <classes>
            <class name="tests.NegativeLoginTest">
                <methods>
                    <include name="loginWithInvalidCredentials"/>
                </methods>
            </class>
            <class name="tests.PositiveLoginTest">
                <methods>
                    <include name="loginWithValidCredentialsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>